@import url(style.css);

img {
    width: 40%;

}

footer p {
    font-weight: 300;
}

footer ul li{
    width: 10%;
    text-decoration: none;
}

.container .row img{
    width: 10%;
    padding-left: 0px;
}

.container .row .col{
    padding: 0px;
    margin-bottom: 20px;
}